.mainContainer {
    max-width: 1120px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #17181f;
    border-radius: 6px;

    .cancelButton {
        background-color: transparent;
        color: #FFF;
        display: flex;
        align-items: center;
        font-size: 1.1rem;

        svg {
            margin-right: 5px;
        }
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 90%;
            height: 50px;
            background-color: transparent;
            border: 1px solid #424242;
            border-radius: 6px;
            padding: 0 10px;
            color: #FFF;
        }

        button {
            width: 10%;
            height: 50px;
            border-radius: 6px;
            margin-left: 5px;
            background-color: #FFB800;

            &:hover {
                filter: brightness(0.8);
            }
        }
    }

    h1 {
        color: #FFF;
        margin: 1.8rem 0;
    }
}

.taskContainer {

    .taskList {
        background-color: #20212c;
        padding: 0.8rem;
        border-radius: 6px;
        margin-bottom: 20px;
    }

    p {
        cursor: pointer;
        color: #F2F6Fc;
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 150%;
    }
    
    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .edit {
            display: flex;
            align-items: center;

            div:first-child {
                display: flex;
                align-items: center;
                
                time {
                    margin-left: 0.5rem;
                    color: #FFF;
                }
            }

            div:last-child {
                margin-left: 1.5rem;
                
                button {
                    background-color: transparent;
                    color: #FFF;
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 0.5rem;
                    }
                }
            }
        }

        .delete {

            button {
                display: flex;
                align-items: center;
                background-color: transparent;
                color: #FFF;
            
                svg {
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

.donationsContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 6px;
    background-color: #17181f;
    color: #FFF;

    h2 {
        color: #FFB800;
    }

    .donations {
        margin-top: 1.8rem;
        display: flex;
        align-items: center;

        time {
            margin-left: .5rem;
        }
    }
}