.container {
    max-width: 1120px;
    margin: 2rem auto;
    background-color: #17181F;
    padding: 2rem;
    border-radius: 6px;

    p {
        font-size: 1rem;
        color: #FFF;
        line-height: 150%;
    }
}

.taskHeader {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
    span {
        font-size: 1.2rem;
        color: #f2f6fc;
        margin-left: 7px;
        margin-right: 5px;
    }

    time {
        color: #FFF;
        font-size: 1.3rem;
        color: #ffb800;
    }
}